.hidden {
	display: none;
}

.visible {
	display: inline;
}

.biglist {
	-moz-column-width: 15em;
	-moz-columns: 15em;
	-webkit-columns: 15em;
	columns: 15em;
}

.biglist h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.biglist-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5;
}

.menubar a {
	padding-right: 1em;
	text-transform: capitalize;
}