.hidden {
	display: none;
}

.visible {
	display: inline;
}

#loading {
	position: absolute;
	text-align: center;
	top: 1px;
	left: 1px;
	width: 100%;
	z-index: 1;
	font-size: 48pt;
}

.biglist {
	-moz-column-width: 15em;
	-moz-columns: 15em;
	-webkit-columns: 15em;
	columns: 15em;
}