{{> head title=name }}

<h3>
	{{sightingList.rows.0.Location}}
	<span class='lighter'>
		{{#if sightingList.rows.0.County}}
			<a href="/place/{{sightingList.rows.0.[State/Province]}}/{{sightingList.rows.0.County}}">{{sightingList.rows.0.County}} County</a>,
		{{/if}}
		{{lookupState sightingList.rows.0.[State/Province]}},
		{{sightingList.rows.0.[Country]}}
	</span>

	<span style='float: right'>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				See also
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a target="_blank" href="https://www.openstreetmap.org/?mlat={{sightingList.rows.0.Latitude}}&mlon={{sightingList.rows.0.Longitude}}#map=10/{{sightingList.rows.0.Latitude}}/{{sightingList.rows.0.Longitude}}">OpenStreetMap</a></li>
				<li><a target="_blank" href="http://forecast.io/#/f/{{sightingList.rows.0.Latitude}},{{sightingList.rows.0.Longitude}}">Forecase.io Weather</a></li>
			</ul>
		</div>
	</span>
</h3>

{{> thumbnails}}

<h4>{{valuecount sightingList "Common Name"}} Species</h4>

{{> specieslist}}

<div class='row'>
	<div class='col-md-4'>
		{{> datelist}}
	</div>

	<div class='col-md-8'>

		<h4>{{valuecount sightingList "Location"}} Locations</h4>

		<div>
			{{googlemap sightingList mapID}}
		</div>

	</div>
</div>

{{> foot}}
