{{> head title='BirdWalker' }}

<div class='row'>
	<div class='col-md-8'>
		<h3>Welcome to BirdWalker</h3>

		<p class='lead'>Birding photos and trip reports by Bill Walker and Mary Wisnewski, California birders based in Santa Clara County. We've been collecting our trip reports since 1996.</p>

		<p class='lead'>Some of our favorite places to go birding include
			<a href='/place/US-CA/Santa Clara/Charleston Slough'>Charleston Slough</a> and
			<a href='/place/US-CA/Santa Clara/Palo Alto Duck Pond'>the Duck Pond</a> in Palo Alto,
			<a href='/place/US-CA/Glenn'>Sacramento National Wildlife Refuge</a>, and
			<a href='/place/US-TX/Hidalgo'>the Rio Grande Valley</a> in Texas.
		</p>
	</div>

	<div class='col-md-4'>
		<div class='thumbnail'>
			<img class='img-responsive' src="{{photosThisWeek.[0].[Photo URL]}}">

			<div class='caption'>
				<a href="/taxon/{{encode photosThisWeek.[0].[Common Name]}}">{{photosThisWeek.[0].[Common Name]}}</a>,
				<a href="/place/{{encode photosThisWeek.[0].[State/Province]}}/{{addnone photosThisWeek.[0].[County]}}/{{encode photosThisWeek.[0].[Location]}}">{{photosThisWeek.[0].[Location]}}</a>,
				{{photosThisWeek.[0].Date}}
			</div>
		</div>
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<h3>{{numSpecies}} species photographed</h3>

	    <div class="mygallery">
			{{#each hierarchy}}
				{{#with (random ../photosByFamily @key)}}
				      <a href="/family/{{@key}}"><img alt="{{stripLatinFromEbirdFamily @key}}" src="{{[Thumbnail URL]}}"></a>
				{{/with}}
			{{/each}}
		</div>
	</div>
</div>

{{> foot}}
