{{> head title=name}}

<h3>
	{{name}} <span class='lighter'>{{scientificName}}</span>

	<span style='float: right'>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				See also
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a target="_blank" href="http://www.xeno-canto.org/species/{{spacetodash scientificName}}">xeno-canto</a></li>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/{{spacetounder name}}">wikipedia</a></li>
			</ul>
		</div>
	</span>

</h3>

{{> thumbnails}}

<div class='row'>
	<div class='col-md-6'>
		{{#if showDates}}
			<h4>{{sightingList.dateObjects.length}} Dates</h4>
			<div class="biglist">
			{{#each sightingList.dateObjects}}
			  <div class='biglist-item'>
			    <div><a href="/trip/{{ebirddate this}}">{{nicedate this}}</a> {{lookup ../customDayNames (ebirddate this)}}</div>
			  </div>
			{{/each}}
			</div>
		{{else}}
			<h4>{{sightingList.dateObjects.length}} Dates, {{nicedate sightingList.earliestDateObject}} - {{nicedate sightingList.latestDateObject}}</h4>
			{{monthgraph sightingsByMonth chartID}}
		{{/if}}
	</div>

	<div class='col-md-6'>
		<h4>{{valuecount sightingList "Location"}} Locations</h4>
		{{googlemap sightingList mapID}}		
	</div>
</div>

{{> foot}}

