<h3>
	{{name}} <span class='lighter'>{{scientificName}}</span>

	<span style='float: right'>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				See also
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a target="_blank" href="http://www.xeno-canto.org/species/{{spacetodash scientificName}}">xeno-canto</a></li>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/{{spacetounder name}}">wikipedia</a></li>
			</ul>
		</div>
	</span>

</h3>

{{> thumbnails}}

<div class='row'>
	<div class='col-md-4'>

		<h4>{{sightingList.dateObjects.length}} Dates</h4>

		{{#if showDates}}
			<div class="biglist">
			{{#each sightingList.dateObjects}}
			  <div class='biglist-item'>
			    <div><a href="#trip/{{ebirddate this}}">{{nicedate this}}</a> {{lookup ../customDayNames (ebirddate this)}}</div>
			  </div>
			{{/each}}
			</div>
		{{else}}
			<div id={{chartID}} class='bargraph'></div>
			{{monthgraph sightingsByMonth chartID}}
		{{/if}}

	</div>
	<div class='col-md-8'>

		<h4>{{valuecount sightingList "Location"}} Locations</h4>

		<div id="{{mapID}}" class="embed-responsive embed-responsive-16by9"></div>
		{{googlemap sightingList mapID}}

	</div>
</div>

