<h3>{{name}} County <span class='lighter'><a href='#place/{{State}}'>{{lookupState State}}</a>, {{Country}}</span></h3>

{{> thumbnails}}

<h4>{{sightingList.dateObjects.length}} Dates</h4>

<div id={{chartID}} class='bargraph'></div>
{{monthgraph sightingsByMonth chartID}}

<h4>{{valuecount sightingList "Common Name"}} Species</h4>

{{> specieslist}}

<h4>{{valuecount sightingList "Location"}} Locations</h4>

{{#if showMap}}
	<div id="{{mapID}}" class="embed-responsive embed-responsive-16by9"></div>
	{{googlemap sightingList mapID}}
{{else}}

	<div class="biglist">
	  {{#each (locations sightingList)}}
	    <div class='biglist-item'><a href="#place/{{this.[0]}}/{{addnone this.[1]}}/{{this.[2]}}">{{this.[2]}}</a></div>
	  {{/each}}
	</div>
{{/if}}
