<h3>
	{{sightingList.rows.0.Location}}
	<span class='lighter'>
		{{#if sightingList.rows.0.County}}
			<a href="#place/{{sightingList.rows.0.[State/Province]}}/{{sightingList.rows.0.County}}">{{sightingList.rows.0.County}} County</a>,
		{{/if}}
		{{lookupState sightingList.rows.0.[State/Province]}},
		{{sightingList.rows.0.[Country]}}
	</span>
	<span style='float: right'>
	<a target="_blank" href="https://www.openstreetmap.org/?mlat={{sightingList.rows.0.Latitude}}&mlon={{sightingList.rows.0.Longitude}}#map=10/{{sightingList.rows.0.Latitude}}/{{sightingList.rows.0.Longitude}}">
		map
	</a>
	<a target="_blank" href="http://forecast.io/#/f/{{sightingList.rows.0.Latitude}},{{sightingList.rows.0.Longitude}}">
		weather
	</a>
	</span>
</h3>

{{> thumbnails}}

<h4>{{valuecount sightingList "Common Name"}} Species</h4>

{{> specieslist}}

<h4>{{valuecount sightingList "Date"}} Dates</h4>

{{#if this.showChart}}
	<div id={{chartID}} class='bargraph'></div>
	{{monthgraph sightingsByMonth chartID}}
{{else}}
	<div class="biglist">
	{{#each sightingList.dateObjects}}
	  <div class='biglist-item'>
	    <div><a href="#trip/{{ebirddate this}}">{{nicedate this}}</a> {{lookup ../customDayNames (ebirddate this)}}</div>
	  </div>
	{{/each}}
	</div>
{{/if}}


