<h3>Sighting</h3>

{{#each this}}
    <div>{{@key}} = {{this}}</div>
{{/each}}

<h4>JSON for photos.json</h4>

<pre>
  {
    "Date": "{{this.Date}}",
    "Location": "{{this.Location}}",
    "Scientific Name": "{{[Scientific Name]}}",
    "Common Name": "{{[Common Name]}}",
    "Thumbnail URL": "https://dl.dropboxusercontent.com/u/171684/birdwalker/thumb/{{sortabledate this.DateObject}}-{{spacetodash [Scientific Name]}}-NNNNNN.jpg",
    "Photo URL": "https://dl.dropboxusercontent.com/u/171684/birdwalker/photo/{{sortabledate this.DateObject}}-{{spacetodash [Scientific Name]}}-NNNNNN.jpg",
    "County": "{{this.County}}",
    "State/Province": "{{this.[State/Province]}}"
  }
</pre>
