<h3>{{lookupState State}}, <span class='lighter'>{{Country}}</span></h3>

{{> thumbnails}}

<div id={{chartID}} class='bargraph'></div>

{{monthgraph sightingsByMonth chartID}}

<h4>{{valuecount sightingList "Location"}} Locations</h4>

<div class="biglist">
	{{#each hierarchy}}
		{{#each this}}
			{{#if @key}}
				<h4><a href="#place/{{@../key}}/{{encode @key}}">{{@key}} County</a></h4>
			{{/if}}
			{{#each this}}
				<div class='biglist-item'><a href="#place/{{@../../key}}/{{addnone @../key}}/{{encode this}}">{{this}}</a></div>
			{{/each}}
		{{/each}}
	{{/each}}
</div>

<h4>{{valuecount sightingList "Common Name"}} Species on {{sightingList.dateObjects.length}} Dates</h4>

{{> specieslist}}