<h3>{{name}} <span class='lighter'>{{scientificName}}</span></h3>

<div>
	<a target="_blank" href="http://www.xeno-canto.org/species/{{spacetodash scientificName}}">xeno-canto</a> |
	<a target="_blank" href="http://en.wikipedia.org/wiki/{{spacetounder name}}">wikipedia</a>
</div>

{{> thumbnails}}

<h4>{{nicenumber sightingList.rows.length}} sightings at {{valuecount sightingList "Location"}} locations</h4>

{{#if this.showChart}}
	<div id={{chartID}} style='padding-top: 10px'></div>
	{{monthgraph sightingsByMonth chartID}}
{{else}}
	<div class="biglist">
		{{#each sightingList.rows}}
			<div class='biglist-item'>
				<a href="#sighting/{{this.id}}">+</a>
				<a href="#trip/{{this.Date}}">{{nicedate this.DateObject}}</a>
				<a href="#location/{{encode this.Location}}">{{this.Location}}</a>
			</div>
		{{/each}}
	</div>
{{/if}}