<h3>
	{{name}} <span class='lighter'>{{scientificName}}</span>

	<span style='float: right'>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				See also
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a target="_blank" href="http://www.xeno-canto.org/species/{{spacetodash scientificName}}">xeno-canto</a></li>
				<li><a target="_blank" href="http://en.wikipedia.org/wiki/{{spacetounder name}}">wikipedia</a></li>
			</ul>
		</div>
	</span>

</h3>

{{> thumbnails}}

<h4>{{valuecount sightingList "Date"}} Dates</h4>

{{#if this.showChart}}
	<div id={{chartID}} class='bargraph'></div>
	{{monthgraph sightingsByMonth chartID}}
{{else}}
	<div class="biglist">
		{{#each sightingList.rows}}
			<div class='biglist-item'>
				<a href="#trip/{{this.Date}}">
					{{nicedate this.DateObject}}
					{{lookup ../customDayNames (ebirddate this.DateObject)}}
				</a>
				<a href="#sighting/{{this.id}}">+</a>
			</div>
		{{/each}}
	</div>
{{/if}}

<h4>{{valuecount sightingList "Location"}} Locations</h4>

<div id="{{mapID}}" class="embed-responsive embed-responsive-16by9"></div>
{{googlemap sightingList mapID}}
