<h3>{{nicedate tripDate}} <span style='font-weight: lighter'>| {{customName}}</span></h3>

{{#each comments}}
  <div style='font-style: italic'>{{this}}</div>
{{/each}}

{{> thumbnails}}

<div>
{{#each sightingList.checklists}}
  <span><a target='_blank' href='http://ebird.org/ebird/view/checklist?subID={{this}}'>{{this}}</a></span>
{{/each}}
</div>

<h4>
  {{taxons.length}} species at
  {{#if sightingList.multipleLocations}}
    {{sightingList.locations.length}} locations
  {{else}}
    {{sightingList.locations}}
  {{/if}}
</h4>

<div class="biglist">
{{#each taxons}}
  <div>
    {{#if sightingList.multipleLocations}}
    <a href='#location/{{this.Location}}'>{{this.Location}}</a>
    {{/if}}
    <a href='#taxon/{{this}}'>{{this}}</a>
  </div>
{{/each}}
</div>
