#loading {
	position: fixed;
	top: 80px;
	left: 50px;
}

.hidden {
	display: none;
}

.visible {
	display: inline;
}

.biglist {
	-moz-column-width: 15em;
	-moz-columns: 15em;
	-webkit-columns: 15em;
	columns: 15em;
}

.biglist h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.biglist-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5;
}

.menubar a {
	padding-right: 1em;
	text-transform: capitalize;
}

.lighter {
	color: #999;
}

.lighter a {
	color: #99B;
}

a img {
	vertical-align: middle;
}
