#loading {
	position: fixed;
	top: 80px;
	left: 50px;
}

.hidden {
	display: none;
}

.visible {
	display: inline;
}

.biglist {
	-moz-column-width: 15em;
	-moz-columns: 15em;
	-webkit-columns: 15em;
	columns: 15em;
}

.biglist h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.biglist-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5;
}

.lighter {
	color: #999;
}

.lighter a {
	color: #99B;
}

a img {
	vertical-align: middle;
}

.bargraph {
	padding-top: 10px;
	width: 400px;
}


/* --------------------- MENU -------------------------------- */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  text-align: center;
  padding-right: 14px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li.icon {display: none;}

input#searchtext {
  border-radius: 10px;
  border-style: none;
  padding: 4px;
  font-family: "Roboto Condensed";
  font-size: 12pt;
}
button#gosearch {
  font-family: "Roboto Condensed";
  font-size: 12pt;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
