<h3>{{name}} <span style='font-weight: lighter'>| {{state}}</span></h3>

{{> thumbnails}}

<div id={{chartID}} style='padding-top: 10px'></div>

{{monthgraph sightingsByMonth chartID}}

<h4>{{valuecount sightingList "Location"}} Locations</h4>

<div class="biglist">
  {{#each (values sightingList "Location")}}
    <div><a href="#location/{{encode this}}">{{this}}</a></div>
  {{/each}}
</div>

<h4>{{valuecount sightingList "Common Name"}} Species on {{sightingList.dateObjects.length}} Dates</h4>

<div class="biglist">
{{#each (values sightingList "Common Name")}}
  <div>
    <a href="#taxon/{{encode this}}">{{this}}</a>
  </div>
{{/each}}
</div>
