<h3>debugging info</h3>
<div>{{photos.length}} photos</div>

<h4>Please add an eBird checklist for these {{photosMissingTrip.length}} photos:</h4>

{{#each photosMissingTrip}}
  <div> <img height='32px' src="{{[Thumbnail URL]}}"> {{this.Location}} {{this.Date}} {{[Common Name]}} / {{[Scientific Name]}}</div>
{{/each}}

<h4>These {{photosMissingLocation.length}} photos have locations missing from your eBird data:</h4>

{{#each photosMissingLocation}}
  <div> <img height='32px' src="{{[Thumbnail URL]}}"> {{this.Location}} {{this.Date}} {{[Common Name]}} / {{[Scientific Name]}}</div>
{{/each}}

<h4>These {{photosBadScientificName.length}} photos have scientific names missing from your eBird sightings:</h4>

{{#each photosBadScientificName}}
  <div> <img height='32px' src="{{[Thumbnail URL]}}"> {{this.Location}} <a href="#trip/{{Date}}">{{this.Date}}</a> {{[Common Name]}} / {{[Scientific Name]}}</div>
{{/each}}

<h4>There are no sightings for these custom day names:</h4>

{{#each missingSightingsForCustomDayNames}}
    <div>{{@key}}, {{this}}</div>
{{/each}}

<h4>Sighting has slashes:</h4>

{{#each brokenLocations}}
  <div>{{this}}</div>
{{/each}}
