<div class='row'>
	<div class='col-md-6'>
		<p>Welcome to birdWalker, a website of birding photos and trip reports by Bill Walker and Mary Wisnewski, California birders based in Santa Clara County. We've been collecting our trip reports since 1996, we have now recorded 857 trips and 784 species.</p>

		<p>Some of our favorite places to go birding include
			<a href='#place/US-CA/Santa Clara/Charleston Slough'>Charleston Slough</a> and
			<a href='#place/US-CA/Santa Clara/Palo Alto Duck Pond'>the Duck Pond</a> in Palo Alto,
			<a href='http://localhost:8090/#place/US-CA/Glenn'>Sacramento National Wildlife Refuge</a>, and
			<a href='#place/US-TX/Hidalgo'>the Rio Grande Valley</a> in Texas.
		</p>
	</div>

	<div class='col-md-6'>
		<h4>Seasonal Sights</h4>

		<img class='img-responsive' src="{{photoOfTheWeek.[Photo URL]}}">

		<div>
			<a href="#taxon/{{encode photoOfTheWeek.[Common Name]}}">{{photoOfTheWeek.[Common Name]}}</a>,
			<a href="#place/{{encode photoOfTheWeek.[State/Province]}}/{{addnone photoOfTheWeek.[County]}}/{{encode photoOfTheWeek.[Location]}}">{{photoOfTheWeek.[Location]}}</a>,
			<a href="#trip/{{ebirddate photoOfTheWeek.[DateObject]}}">{{nicedate photoOfTheWeek.DateObject}}</a>
		</div>
	</div>
</div>