<h3>{{name}} <span style='font-weight: lighter'>| {{scientificName}}</span></h3>

{{#each photos}}
  <span><a href="#photo/{{id}}"><img width="85px" height="85px" src="{{[Thumbnail URL]}}"></a></span>
{{/each}}

<h4>{{nicenumber sightings.length}} sightings</h4>

<div id={{chartID}} style='padding-top: 10px'></div>

{{monthgraph sightingsByMonth chartID}}

<div class="biglist">
{{#each sightings}}
  <div>
    <a href="#trip/{{this.Date}}">{{nicedate this.DateObject}}</a>
    <a href="#location/{{this.Location}}">{{this.Location}}</a>
  </div>
{{/each}}
</div>
