<h3>{{nicedate tripDate}} <span class='lighter'>{{customName}}</span></h3>

{{> thumbnails}}

{{#if (multiplevalues sightingList "Submission ID")}}
  <h4>{{valuecount sightingList "Submission ID"}} eBird Checklists</h4>
{{else}}
  <h4>1 eBird Checklist</h4>
{{/if}}

<div class='biglist'>
  {{#each (values sightingList "Submission ID")}}
    <div class='biglist-item'>
      {{#with (lookup ../submissionIDToSighting this)}}
        <a href='#place/{{[State/Province]}}/{{addnone [County]}}/{{Location}}'>
          {{[Location]}}
        </a>
      {{/with}}

      <a target='_blank' href='http://ebird.org/ebird/view/checklist?subID={{this}}'>
        <img src='/images/ebird-favicon.png' />
      </a>

      <div style='font-size: 80%; margin-left: 1em'>
        {{#with (lookup ../submissionIDToSighting this)}}
          <div>{{Protocol}}, {{[Duration (Min)]}}mins, {{[Time]}}</div>
          <i>{{[Checklist Comments]}}</i>
        {{/with}}
      </div>

    </div>
  {{/each}}
</div>

<h4>
  {{valuecount sightingList "Common Name"}} Species
</h4>

<div class="biglist">
  {{#if (multiplevalues sightingList "Location")}}
    {{#each (values sightingList "Common Name")}}
      <div class='biglist-item'>
        <a href='#taxon/{{encode this}}'>{{this}}</a>
      </div>
    {{/each}}
  {{else}}
    {{#each sightingList.rows}}
      <div class='biglist-item'>
        <a href="#sighting/{{this.id}}">+</a>
        <a href='#taxon/{{encode [Common Name]}}'>{{[Common Name]}}</a>
        {{#if (isnumber Count)}}
          {{Count}}
        {{/if}}
      </div>
      <span>
        {{[Species Comments]}}
      </span>
    {{/each}}
  {{/if}}
</div>

{{#if (multiplevalues sightingList "Location")}}
  <h4>{{valuecount sightingList "Location"}} Locations</h4>
{{else}}
  <h4>
    {{values sightingList "Location"}}
  </h4>
{{/if}}

<div id="{{mapID}}" class="embed-responsive embed-responsive-16by9"></div>
{{googlemap sightingList mapID}}

