<h3>{{nicedate tripDate}} <span style='font-weight: lighter'>| {{customName}}</span></h3>

{{#each comments}}
  <div style='font-style: italic'>{{this}}</div>
{{/each}}

{{> thumbnails}}

<div>
{{#each (values sightingList "Submission ID")}}
  <span><a target='_blank' href='http://ebird.org/ebird/view/checklist?subID={{this}}'>{{this}}</a></span>
{{/each}}
</div>

<h4>
  {{valuecount sightingList "Common Name"}} species at
  {{#if (multiplevalues sightingList "Location")}}
    {{valuecount sightingList "Location"}} locations
  {{else}}
    {{values sightingList "Location"}}
  {{/if}}
</h4>

<div class="biglist">
  {{#if (multiplevalues sightingList "Location")}}
    MULTI
    {{#each (values sightingList "Common Name")}}
      <div>
        <a href='#taxon/{{encode this}}'>{{this}}</a>
      </div>
    {{/each}}
  {{else}}
    {{#each sightingList.rows}}
      <div>
        <a href='#taxon/{{encode [Common Name]}}'>{{[Common Name]}}</a>
        {{#if (isnumber Count)}}
          {{Count}}
        {{/if}}
        <a href="#sighting/{{this.id}}">+</a>
      </div>
    {{/each}}
  {{/if}}
</div>
