<h3>{{nicedate tripDate}} <span class='lighter'>{{customName}}</span></h3>

{{#each comments}}
  <div style='font-style: italic'>{{this}}</div>
{{/each}}

{{> thumbnails}}

{{#if (multiplevalues sightingList "Location")}}
  <h4>{{valuecount sightingList "Location"}} locations</h4>

  <div class='biglist'>
  {{#each locationToSubmissionID}}
    <div class='biglist-item'>
      <a target='_blank' href='http://ebird.org/ebird/view/checklist?subID={{this}}'>{{@key}}</a>
    </div>
  {{/each}}
  </div>

  <h4>{{valuecount sightingList "Common Name"}} species</h4>
{{else}}
  <h4>
    {{valuecount sightingList "Common Name"}} species at {{values sightingList "Location"}}
  </h4>
{{/if}}

<div class="biglist">
  {{#if (multiplevalues sightingList "Location")}}
    {{#each (values sightingList "Common Name")}}
      <div class='biglist-item'>
        <a href='#taxon/{{encode this}}'>{{this}}</a>
      </div>
    {{/each}}
  {{else}}
    {{#each sightingList.rows}}
      <div class='biglist-item'>
        <a href="#sighting/{{this.id}}">+</a>
        <a href='#taxon/{{encode [Common Name]}}'>{{[Common Name]}}</a>
        {{#if (isnumber Count)}}
          {{Count}}
        {{/if}}
      </div>
      <span>
        {{[Species Comments]}}
      </span>
    {{/each}}
  {{/if}}
</div>
